.wrapper
  .box_wrapper.cf
    .box_full
      %h3.box_title ご利用規約

      .about_block
        %p
          この利用規約（以下「本規約」といいます。）には、トリニータ アンバサダー（以下「本サービス」といいます。）の提供条件及びイジゲン株式会社（以下「当社」といいます。）とユーザー（お客様）（以下「ユーザー」といいます。）との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読み頂いたうえで、本規約に同意いただく必要があります。本サービスの利用でユーザーは規約に従うことに同意したものとみなされます。

      .about_block
        %h2 第１条（サービスの概要）
        %p
          本サービスにおいてユーザーがご利用になれる機能（以下「本機能」といいます。）は、次の各号のとおりです。
        %p
          （１）当社または本サービスを使用して、大分トリニータを応援する機能
        %p
          （２）その他、当社が別に定める機能
        %p
          ※本サービスのご利用にあたり、利用料は発生いたしません。ただし、本サービスをご利用いただくために必要な通信料及び接続料等はユーザーのご負担となります。また、本ソフトウェアのインストール又はバージョンアップが行なわれた場合や本ソフトウェアにより自動的に通信が行なわれた場合にも、通信料がかかります。

      .about_block
        %h2 第２条（ポイントの有効期限）
        %p
          ポイントの有効期限は、ありません。

      .about_block
        %h2 第３条（ポイントの一時停止）
        %p
          何らかの理由により、トリニータ アンバサダー 以下「本ソフトウェア」といいます。）が一時停止となった場合やその他、当社が必要と判断した場合、サービスの提供を一時的に停止する場合があります。

      .about_block
        %h2 第４条（利用登録）
        %p
          １．トリニータ アンバサダーの利用登録希望者（以下「登録希望者」といいます。）は、本規約の内容に同意のうえ、当社が別途定める手続きによって当社にIDの発行の申し込み、並びにパスワードのご自身による設定を行うものとします。登録希望者が当社の求めに応じて登録情報を提供しない、または、パスワードの設定を行わない等、当社の定める手続きに従って頂けない場合は、当社はかかる登録希望者に対して、IDを発行する義務を負わないものとします。
        %p
          ２．登録希望者は、当社指定の申し込み方法により、ホームページ上の指定フォーマットに必要事項を入力し、登録の申し込み手続きを完了した時点で、本規約の内容に同意したものとみなします。
        %p
          ３．当社は、以下の場合、トリニータ アンバサダー利用登録を承諾しないことがあります。なお、不承諾の場合、当社はその理由を登録希望者に開示する義務を負わないものとします。
        %p
          （１）申し込み内容に虚偽の内容が含まれていた場合
          （２）利用登録申し込みを承諾することが不適切であると当社が判断した場合
          （３）その他当社が対象サービスの運営に支障をきたすと判断する行為、その他不適切であると判断する行為を申込者がしたとき
          （４）上記各号に関して、当社がそのおそれありと判断または推測した場合

      .about_block
        %h2 第５条（登録事項の変更）
        %p
          ユーザーは、登録事項に変更があった場合、当社の定める方法により当該変更事項を遅滞なく当社に通知するものとします。

      .about_block
        %h2 第６条（パスワード及びユーザーＩＤの管理）
        %p
          パスワード及びユーザーＩＤの管理不十分、第三者の使用等いかなる理由によるものであっても、それによって生じた損害に関する責任はユーザーが負うものとし、当社は一切の責任を負いません。

      .about_block
        %h2 第７条（知的財産権）
        %p
          １．本ソフトウェア及びコンテンツ等に係る著作権等の知的財産権は、当社に帰属します。
        %p
          ２．ユーザーは、本ソフトウェア及びコンテンツ等を、個人として本サービスを対象端末において利用する目的に限り使用することができるものとし、当該目的以外に使用してはならないものとします。また、ユーザーは、著作権者の許可なく、当該著作物の全部又は一部を複製・複写・転載・改変し、又は販売・再配布・解析・送信・貸与・譲渡・利用許諾などをすることはできません。

      .about_block
        %h2 第８条（遵守事項）
        %p
          ユーザーは、本サービスの利用にあたり、以下に定める行為を行わないものとします。
        %p
          （１）当社若しくは第三者の著作権、商標権等の知的財産権、その他の権利を侵害する行為、又は侵害するおそれのある行為
        %p
          （２）第三者のプライバシーを侵害する行為、又は侵害するおそれのある行為
        %p
          （３）当社の設備に無権限でアクセス、解析し、若しくは過度な負担を与えること、本サービスの提供を不能にすること、その他本サービスの提供若しくはその運営に支障を与える行為、又はそのおそれのある行為
        %p
          （４）当社の営業活動を妨害する行為、又は妨害するおそれのある行為
        %p
          （５）当社若しくは第三者に不利益若しくは損害を与える行為、又はそのおそれのある行為
        %p
          （６）本サービスを利用することによって得られる一切の情報を、業として利用する行為又は方法の如何を問わず第三者の利用に供する行為
        %p
          （７）本ソフトウェアを対象端末以外の端末（対象端末を不正に改造した端末を含みます）で利用する行為
        %p
          （８）本ソフトウェアの逆コンパイル、逆アセンブル等のリバースエンジニアリング行為
        %p
          （９）本ソフトウェアに付されている著作権表示及びその他の権利表示を削除又は改変する行為
        %p
          （１０）方法の如何を問わず不正にコンテンツ等を取得、作成、譲渡等する行為
        %p
          （１１）法令、本規約等若しくは公序良俗に違反する行為、又は違反するおそれのある行為
        %p
          （１２）その他、当社が不適当と定める行為


      .about_block
        %h2 第９条（個人情報の取扱い）
        %p
          １．当社によるユーザーの利用者情報の取扱いについては、別途当社プライバシーポリシーの定めによるものとし、ユーザーはこのプライバシーポリシーに従って当社がユーザーの利用者情報を取扱うことについて同意するものとします。
        %p
          ２．当社はユーザー情報を、本サービスの提供、保守、その他各種分析・調査のために利用する他、それ以外の目的においても第1項に定める範囲で取り扱うことがあります。


      .about_block
        %h2 第１０条（本サービスの停止等）
        %p
          当社は、以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サービスの全部又は一部の提供を停止又は中断することができるものとします。この場合において、ユーザー又は第三者に損害が生じたとしても、当社は、当該損害について一切の責任を負いません。
        %p
          （１）本サービスに係るシステムの点検または保守作業を行う場合
        %p
          （２）火災・停電等の事故、地震・洪水等の天災等により、本サービスの提供ができない場合
        %p
          （３）本サービスに係るシステムの障害等により、本機能が停止した場合
        %p
          （４）当社が、停止または一時停止が必要であると判断した場合

      .about_block
        %h2 第１１条（退会）
        %p
          １．当社は、ユーザーが、以下のいずれかに該当する場合には、ユーザーに事前に通知又は催告することなく、サービス利用を解除することができるものとします。また、当社はこれにより当社が被った被害の賠償をユーザーに請求することができるものとします。
        %p
          （１）本規約の条項いずれかに違反した場合
        %p
          （２）１２ヶ月以上本サービスの利用がない場合
        %p
          （３）当社が本サービスの利用、登録またはサービス利用の継続を適当でないと判断した場合
        %p
          ２．ユーザーは、いかなる理由によるものであっても、サービス利用の終了に起因して当社に対し損害賠償、補償金、その他の支払いを求めることはできません。
        %p
          ３．ユーザーは、本サービスの利用の終了を希望される場合、当社所定の方法で退会手続きを行うことにより、サービス利用を終了させることができるものとします。
        %p
          ４．サービス利用が終了した場合には、ユーザーはいかなる理由においても本ソフトウェア及びコンテンツを使用することはできません。加えて、ユーザーは、自己の占有又は管理下にある本ソフトウェア及びコンテンツを全て速やかに破棄及び消去するものとします。
        %p
          ５．いかなる理由によるものであっても、サービス利用の終了をもって、本サービスに関してユーザーが取得された本ポイント等は失効するものとします。
        %p
          ６．本規約第６条至第１０条、第１２条の定めは、退会後も有効に存続するものとします。

      .about_block
        %h2 第１２条（責任の制限）
        %p
          １．当社は、本サービス、本ソフトウェア及びコンテンツの正確性、有用性、即時性、完全性、商用性、信頼性、特定の目的適合性、第三者の権利又は利益の侵害の有無、ポイントの取得に関すること、その他について何ら保証するものではなく、ユーザーがこれらに関して損害を被ったとしても、弊社は一切責任を負いません。
        %p
          ２．当社は、本サービスの利用によりユーザーが被った損害については、一切の賠償責任を負いません。
        %p
          ３．当社が本規約に基づきユーザーに対して損害賠償責任を負う場合であっても、その責任の範囲は通常生じるべき直接の損害に限られるものとします。
        %p
          ４．本サービス利用者の端末に保存された情報の一切の管理責任は利用者にあり、端末の紛失その他いかなる理由で引き起こされた損害についても、一切の賠償責任を負いません。

      .about_block
        %h2 第１３条（規約の変更）
        %p
          ユーザーに事前に通知することなく、またユーザーの同意を得ることなく、本サービス又は本規約の全部若しくは一部を変更することができるものとします。この場合、当社は、本サービスまたは本規約の変更の旨を、弊社ホームページに掲載し、又はその他これと同等の方法により、ユーザーに対し周知するものとし、当該いずれかの方法による周知の開始のときをもって本サービス又は本規約が変更されるものとします。

      .about_block
        %h2 第１４条（利用契約上の地位の譲渡）
        %p
          ユーザーは、サービス利用上の地位の全部又は一部を第三者に移転することはできません。

      .about_block
        %h2 第１５条（その他）
        %p
          １．本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能であると判断された場合であっても、本規約の残りの規定及び部分は、継続して完全に効力を有するものとします。
        %p
          ２．本サービス利用規約は、日本国の法令を準拠法とし、関連する一切の紛争は、当社本店所在地の地方裁判所を第一審の専属的合意管轄裁判所とします。

      .about_block
        2016年3月3日　施行
